@page "/"

<div class="container col-lg-4">
    <div class="card">
        <div class="card-header text-center">
            <h5 class="card-text">ShortDash Target</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                Target ID: @TargetId
            </p>
            <p class="card-text">
                Last Connection: @DisplayDateTime(LastConnection)
            </p>
            <p class="card-text">
                Last Connection Attempt: @DisplayDateTime(LastConnectionAttempt)
            </p>
        </div>
        <div class="card-footer text-light bg-@ConnectionStatusClass">
            <p class="card-text text-center">
                <h5>@TargetHubClient.ConnectionStatus()</h5>
            </p>
        </div>
    </div>
</div>