[Desktop Entry]
Encoding=UTF-8
Name=ShortDash {ApplicationName}
Comment=ShortDash {ApplicationName}
Exec=/usr/bin/shortdash-{ApplicationNameLower}
Icon=/usr/lib/shortdash-{ApplicationNameLower}/ShortDash.png
Terminal=false
Type=Application
Categories=GNOME;Application;Network
StartupNotify=true