<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="">ShortDash</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="actions" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Actions
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="targets" Match="NavLinkMatch.Prefix">
                    <span class="oi oi-target" aria-hidden="true"></span> Targets
                </NavLink>
            </li>
            @foreach (var dashboard in Dashboards)
            {
                var link = $"dashboard/{dashboard.DashboardId}";
                <li class="nav-item">
                    <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                        <span class="oi oi-dashboard" aria-hidden="true"></span> @dashboard.Name
                    </NavLink>
                </li>
            }
            <li class="nav-item">
                <a href="" class="nav-link" @onclick="ShowAddDashboardDialog" @onclick:preventDefault>
                    <span class="oi oi-plus" aria-hidden="true"></span> New Dashboard
                </a>
            </li>
        </ul>
    </div>
</nav>