@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    padding: 0.5rem;
}

.navbar-brand {
    font-size: 1rem;
}

.navbar-toggler {
    font-size: 1rem;
    padding: 0.25rem 0.50rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* Dashboard stuff*/

.dashboard {
    background-color: #000000;
}

.dashboard .grid-icon-caption {
    color: #FFFFFF;
}

.grid-icon {
    display: inline-block;
    position: relative;
}

.grid-icon, .grid-icon img, .grid-icon-content, .executing-indicator {
    height: 4rem;
    width: 4rem;
}

.grid-cell, .grid-cell a, .grid-cell a:hover, .grid-cell a:active, .grid-cell a:visited {
    color: #FFFFFF;
}

.grid-icon .rounded, .grid-icon.rounded {
    border-radius: 1rem !important;
}

.grid-icon .executing-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    margin: 0.8rem;
    box-shadow: 0px 0px 3em 1.5em rgba(0,0,0,0.8);
}

.grid-icon-content span {
    font-size: 1rem;
}

.grid-icon-content span.oi {
    font-size: 2rem;
    margin-top: 0.3rem;
}

.grid-icon-caption {
    font-size: 0.8rem;
}

.grid-cell .edit-controls span {
    font-size: 1.75rem;
    color: #007bff;
}

.grid-cell .edit-controls a.move-cell-left {
    position: absolute;
    bottom: 1.8rem;
    left: 0.5rem;
}

.grid-cell .edit-controls a.move-cell-right {
    position: absolute;
    bottom: 1.8rem;
    right: 0.5rem;
}

.grid-cell .edit-controls a.remove-cell {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.grid-cell .edit-controls .remove-cell span {
    color: #dc3545;
}

.grid-icon.add-cell {
    border: 1px dotted #6c757d;
}

.grid-icon.add-cell span {
    font-size: 1rem;
    color: #6c757d;
}