html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page {
    padding: 0.5rem;
}

.navbar-brand {
    font-size: 1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#components-reconnect-modal,
#components-reconnect-modal .reconnect-datetime {
    display: none;
}

#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected,
#components-reconnect-modal.components-reconnect-rejected .reconnect-datetime {
    display: block;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

/* Dashboard Styles */
.dashboard {
    background-color: #000000;
    height: 100%;
}

.dashboard .btn-panel {
    right: 0px;
    left: auto;
    margin: 0.5rem;
}

.grid-icon {
    display: inline-block;
    position: relative;
}

.grid-icon, .grid-icon img, .grid-icon-content, .executing-indicator {
    height: 4rem;
    width: 4rem;
}

.text-dark .grid-cell, .text-dark .grid-cell a, .text-dark .grid-cell a:hover, .text-dark .grid-cell a:active, .text-dark .grid-cell a:visited {
    color: #343A40;
}

.text-light .grid-cell, .text-light .grid-cell a, .text-light .grid-cell a:hover, .text-light .grid-cell a:active, .text-light .grid-cell a:visited {
    color: #F8F9FA;
}

.grid-icon .rounded, .grid-icon.rounded {
    border-radius: 1rem !important;
}

.grid-icon .executing-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    box-shadow: 0px 0px 3em 1.5em rgba(0,0,0,0.8);
}

.grid-icon-content span {
    font-size: 1rem;
}

.grid-icon-content span.icon {
    font-size: 2.5rem;
    margin-top: 0.2rem;
}

.grid-icon-caption {
    font-size: 0.8rem;
}

.grid-icon-caption .custom-checkbox {
    width: 5rem;
}

.grid-cell .edit-controls span {
    font-size: 1.75rem;
    color: #007bff;
}

.grid-cell .edit-controls a.move-cell-left {
    position: absolute;
    bottom: 1.8rem;
    left: 0.5rem;
}

.grid-cell .edit-controls a.move-cell-right {
    position: absolute;
    bottom: 1.8rem;
    right: 0.5rem;
}

.grid-cell .edit-controls a.remove-cell {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.grid-cell .edit-controls .remove-cell span {
    color: #dc3545;
}

.grid-icon.add-cell.text-light {
    border: 1px dotted #d7d9da;
}

.grid-icon.add-cell.text-light span {
    font-size: 1rem;
    color: #d7d9da;
}

.grid-icon.add-cell.text-dark {
    border: 1px dotted #343a40;
}

.grid-icon.add-cell.text-dark span {
    font-size: 1rem;
    color: #343a40;
}

.text-center > .qrcode > img {
    margin: auto;
}
