@page "/dashboard"
@page "/dashboard/{DashboardId:int}"

<CascadingValue Value="DashboardService">
    @if (Dashboard == null)
    {
        <h3>Opps, this dashboard doesn't seem to exist anymore.</h3>
    }
    else
    {
        <div class="page dashboard vh-100 text-@TextClass" @attributes="DashboardAttributes">
            <div class="btn-panel fixed-bottom float-right">
                @if (EditMode)
                {
                    <button class="btn btn-danger btn-sm mr-5" @onclick="ConfirmDelete">Delete</button>
                    <button class="btn btn-secondary btn-sm" @onclick="CancelChanges">Cancel</button>
                    <button class="btn btn-primary btn-sm" @onclick="SaveChanges">Save</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-@TextClass btn-sm" @onclick="ToggleEditMode">
                        Edit
                    </button>
                }
            </div>

            @if (EditMode)
            {
                <EditForm EditContext="DashboardEditContext">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="DashboardName">Name</label>
                        <InputText @bind-Value="Dashboard.Name" class="form-control" id="DashboardName" />
                        <ValidationMessage For="() => Dashboard.Name" />
                    </div>
                    <div class="form-group">
                        <label for="BackgroundColor">Background Color</label>
                        <InputColor @bind-Value="@Dashboard.BackgroundColor" class="form-control" id="BackgroundColor" />
                        <ValidationMessage For="() => Dashboard.BackgroundColor" />
                    </div>
                </EditForm>
            }
            else
            {
                <h3>@Dashboard.Name</h3>
            }
            <DashboardGrid DashboardCells="DashboardCells" EditMode="EditMode" />
        </div>
    }
</CascadingValue>