@page "/dashboard"
@page "/dashboard/{DashboardId:int}"
@using Data

@inject DashboardService DashboardService

<h3>Dashboard!</h3>

<div class="dashboard">
    <DashboardGrid Dashboard="Dashboard" />
</div>

@code {
    [Parameter]
    public int? DashboardId { get; set; }

    private Dashboard Dashboard;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        DashboardId = DashboardId ?? 1;
        Dashboard = await DashboardService.GetDashboardAsync(DashboardId.Value);
    }

}
