@page "/dashboard"
@page "/dashboard/{DashboardId:int}"

@inherits DashboardViewPage

@if (dashboard == null)
{
    <h3>Opps, this dashboard doesn't seem to exist anymore.</h3>
}
else
{
    <button class="btn btn-outline-danger float-right" @onclick="ConfirmDelete">Delete</button>

    <h3>@dashboard.Title</h3>
    <div class="dashboard">
        <DashboardGrid Dashboard="dashboard" OnRemoveCell="RemoveCell" OnSaveChanges="SaveChanges" />
    </div>
}