@page "/dashboard"
@using Data

@inject DashModelService DashModelService

<h3>Dashboard!</h3>

<div class="dashboard">
    <DashGrid DashModel="dash"/>
</div>

@code {
    [Parameter]
    public int id { get; set; } = 1;

    private DashModel dash;

    protected override async Task OnInitializedAsync()
    {
        dash = await DashModelService.GetDashModelAsync(id);
    }

}
