@page "/dashboard"
@page "/dashboard/{DashboardId:int}"
@using Data

@inject DashboardModelService DashboardModelService

<h3>Dashboard!</h3>

<div class="dashboard">
    <DashboardGrid DashboardModel="dash" />
</div>

@code {
    [Parameter]
    public int? DashboardId { get; set; }

    private DashboardModel dash;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        DashboardId = DashboardId ?? 1;
        dash = await DashboardModelService.GetDashModelAsync(DashboardId.Value);
    }

}
