@page "/dashboard"
@page "/dashboard/{DashboardId:int}"
@attribute [Authorize(Policy = Policies.ViewDashboards)]
@inherits PageBase

<CascadingValue Value="DashboardService">
    @if (IsLoading)
    {
        <PageLoadingComponent />
    }
    else if (Dashboard == null)
    {
        <div class="page">
            <h3 class="alert alert-danger">This dashboard does not seem to exist anymore.</h3>
        </div>
    }
    else if (!CanView)
    {
        <div class="page">
            <div class="alert alert-danger">This device does not have access to this dashboard.</div>
        </div>
    }
    else
    {
        <div class="page dashboard vh-100 text-@TextClass" @attributes="DashboardAttributes">
            <div class="btn-panel float-right m-0 mb-2">
                @if (EditMode)
                {
                    <button type="button" class="btn btn-danger btn-sm mr-5" @onclick="ConfirmDelete">Delete</button>
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelChanges">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" @onclick="SaveChanges">Save</button>
                }
            </div>

            @if (EditMode)
            {
                <EditForm EditContext="DashboardEditContext">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="DashboardName">Name</label>
                        <InputText @bind-Value="Dashboard.Name" class="form-control" id="DashboardName" />
                        <ValidationMessage For="() => Dashboard.Name" />
                    </div>
                    <div class="form-group">
                        <label for="BackgroundColor">Background Color</label>
                        <InputColor @bind-Value="@Dashboard.BackgroundColor" class="form-control" id="BackgroundColor" />
                        <ValidationMessage For="() => Dashboard.BackgroundColor" />
                    </div>
                </EditForm>
            }
            <DashboardGrid DashboardCells="DashboardCells" EditMode="EditMode" />
        </div>
    }
</CascadingValue>