@page "/dashboard"
@page "/dashboard/{DashboardId:int}"
@using Data

@inject DashboardService DashboardService

@if (dashboard == null)
{
    <h3>Opps, the dashboard doesn't seem to exist anymore.</h3>
}
else
{
<h3>@dashboard.Title</h3>
<div class="dashboard">
    <DashboardGrid Dashboard="dashboard" />
</div>
}

@code {
    [Parameter]
    public int? DashboardId { get; set; }

    private Dashboard dashboard;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        DashboardId = DashboardId ?? 1;
        dashboard = await DashboardService.GetDashboardAsync(DashboardId.Value);        
    }

}
