@page "/dashboard"
@page "/dashboard/{DashboardId:int}"
@attribute [Authorize(Policy = Policies.ViewDashboards)]
@inherits PageBase

<CascadingValue Value="DashboardService">
    @if (IsLoading)
    {
        <PageLoadingComponent />
    }
    else if (Dashboard == null)
    {
        <div class="page">
            <h3 class="alert alert-danger">This dashboard does not seem to exist anymore.</h3>
        </div>
    }
    else if (!CanView)
    {
        <div class="page">
            <div class="alert alert-danger">This device does not have access to this dashboard.</div>
        </div>
    }
    else
    {
        <div class="page dashboard vh-100 text-@TextClass" @attributes="DashboardAttributes">
            <div class="btn-panel float-right m-0 mb-2">
                @if (EditMode)
                {
                    <button type="button" class="btn btn-danger btn-sm mr-5" @onclick="ConfirmDelete">Delete</button>
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelChanges">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" @onclick="SaveChanges">Save</button>
                }
            </div>

            @if (EditMode)
            {
                <EditForm EditContext="DashboardEditContext" class="form-row align-items-center">
                    <DataAnnotationsValidator />
                    <div class="col-4">
                        <InputText @bind-Value="Dashboard.Name" class="form-control mr-2" id="DashboardName" placeholder="Name" />
                    </div>
                    <div class="col-2">
                        <InputColor @bind-Value="@Dashboard.BackgroundColor" class="form-control mr-4" id="BackgroundColor" />
                    </div>
                    <div class="col-auto">
                        <div class="form-check">
                            <InputCheckbox @bind-Value="@Dashboard.HideLabels" class="form-check-input" id="HideLabels" />
                            <label for="HideLabels" class="form-check-label">Hide Labels</label>
                        </div>
                    </div>
                </EditForm>
            }
            <DashboardGrid DashboardCells="DashboardCells" EditMode="EditMode" HideLabels="Dashboard.HideLabels" TextClass="@TextClass" />
        </div>
    }
</CascadingValue>