@page "/dashboard"
@page "/dashboard/{DashboardId:int}"
@attribute [Authorize(Policy = "ViewDashboards")]

<CascadingValue Value="DashboardService">
    @if (Dashboard == null || !CanView)
    {
        <div class="page">
            <h3 class="alert alert-danger">This device does not have access to this dashboard.</h3>
        </div>
    }
    else
    {
        <div class="page dashboard vh-100 text-@TextClass" @attributes="DashboardAttributes">
            <div class="btn-panel float-right m-0 mb-2">
                @if (EditMode)
                {
                    <button type="button" class="btn btn-danger btn-sm mr-5" @onclick="ConfirmDelete">Delete</button>
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelChanges">Cancel</button>
                    <button type="button" class="btn btn-primary btn-sm" @onclick="SaveChanges">Save</button>
                }
                else
                {
                    <AuthorizeView Policy="EditDashboards">
                        <button type="button" class="btn btn-outline-@TextClass btn-sm" @onclick="ToggleEditMode">
                            Edit
                        </button>
                    </AuthorizeView>
                }
            </div>

            @if (EditMode)
            {
                <EditForm EditContext="DashboardEditContext">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="DashboardName">Name</label>
                        <InputText @bind-Value="Dashboard.Name" class="form-control" id="DashboardName" />
                        <ValidationMessage For="() => Dashboard.Name" />
                    </div>
                    <div class="form-group">
                        <label for="BackgroundColor">Background Color</label>
                        <InputColor @bind-Value="@Dashboard.BackgroundColor" class="form-control" id="BackgroundColor" />
                        <ValidationMessage For="() => Dashboard.BackgroundColor" />
                    </div>
                </EditForm>
            }
            else
            {
                <h3>@Dashboard.Name</h3>
            }
            <DashboardGrid DashboardCells="DashboardCells" EditMode="EditMode" />
        </div>
    }
</CascadingValue>