@page "/dashboard"
@page "/dashboard/{DashboardId:int}"

@inherits DashboardView

@if (dashboard == null)
{
    <h3>Opps, this dashboard doesn't seem to exist anymore.</h3>
}
else
{
    <div class="float-right">
        <button class="btn btn-outline-primary" @onclick="ShowAddDialog">Add</button>
    </div>

    <h3>@dashboard.Title</h3>
    <div class="dashboard">
        <DashboardGrid Dashboard="dashboard" />
    </div>
}