@page "/devices/{DashboardDeviceId}"
@attribute [Authorize(Policy = "EditDevices")]

<div class="page">
    @if (IsLoading)
    {
        <PageLoadingComponent />
    }
    else if (DashboardDevice == null)
    {
        <h3 class="alert alert-danger">Opps, this device does not seem to exist anymore.</h3>
    }
    else
    {
        <h3>@DashboardDevice.Name</h3>

        @if (SuccessfullyLinked)
        {
            <div class="alert alert-success"><span class="fas fa-check"></span> The device has been linked!</div>
        }

        <EditForm Model="DashboardDevice" OnValidSubmit="SaveChanges">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="DashboardDeviceName">Name</label>
                <InputText @bind-Value="DashboardDevice.Name" class="form-control" id="DashboardDeviceName" />
                <ValidationMessage For="() => DashboardDevice.Name" />
            </div>
            <DeviceClaimsEditPanel Claims="DeviceClaims" />

            <button class="btn btn-outline-danger float-left" type="button" @onclick="ConfirmUnlink">Unlink</button>

            <div class="float-right">
                <button type="button" class="btn btn-secondary" @onclick=CancelChanges>Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </EditForm>
    }
</div>