@page "/"

@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Http;
@using System.Web;

<div class="page">
    <AuthorizeView>
        <Authorized>
            Congratulations @context.User.Identity.Name!
            <a href="/logout" target="_top">Logout</a>

            <ul>
                @foreach (var claim in context.User.Claims)
                {
                    <li>@claim.Type: @claim.Value</li>
                }
            </ul>
        </Authorized>
        <NotAuthorized>
            @if (IsFirstRun)
            {
                <AdminAccessCodeSetupPanel OnCompleted="OnCompletedEvent" />
            }
            else
            {
                @if (ShowAdminDeviceLinkMessage)
                {
                    <div class="alert alert-success"><span class="fas fa-check"></span> Enter your full access device code to get started.</div>
                }
                <DeviceLinkPanel />
            }
        </NotAuthorized>
    </AuthorizeView>
</div>