@page "/"

@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Http;
@using System.Web;

<div class="page">
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <br />
    <AuthorizeView>
        <Authorized>
            Congratulations @context.User.Identity.Name!
            <a href="/logout" target="_top">Logout</a>

            <ul>
                @foreach (var claim in context.User.Claims)
                {
                    <li>@claim.Type: @claim.Value</li>
                }
            </ul>
        </Authorized>
        <NotAuthorized>
            Click login to authorize.
            <a href="/login?AccessToken=@HttpUtility.UrlEncode(AccessToken)" target="_top">Login</a>
            <input type="password" @bind-value="AccessToken" @bind-value:event="oninput" />

            <br /><br />

            <DeviceLinkPanel />
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    public string AccessToken { get; set; }
}