@page "/"
@inherits PageBase

@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Http;
@using System.Web;

<div class="page">
    <AuthorizeView>
        <Authorized>
            <fieldset class="m-auto col-lg-6">
                <legend>Dashboards</legend>
                <div class="list-group">
                    @foreach (var dashboard in Dashboards)
                    {
                        if (User.CanAccessDashboard(dashboard.DashboardId))
                        {
                            var link = $"dashboard/{dashboard.DashboardId}";
                            <NavLink class="list-group-item list-group-item-action" href="@link" Match="NavLinkMatch.All">
                                <span class="fas fa-layer-group fa-fw" aria-hidden="true"></span> @dashboard.Name
                            </NavLink>
                        }
                    }
                </div>
            </fieldset>
        </Authorized>
        <NotAuthorized>
            @if (IsFirstRun)
            {
                <AdminAccessCodeSetupPanel OnCompleted="OnCompletedEvent" />
            }
            else
            {
                @if (ShowAdminDeviceLinkMessage)
                {
                    <div class="alert alert-success"><span class="fas fa-check"></span> Enter your full access device code to get started.</div>
                }
                <DeviceLinkPanel />
            }
        </NotAuthorized>
    </AuthorizeView>

    <div class="d-flex justify-content-center">
        <div class="mt-4">
            <AuthorizeView Policy="@Policies.EditDevices">
                <NavLink class="btn btn-outline-primary btn-block" href="devices/link" Match="NavLinkMatch.Prefix">
                    <span class="fas fa-link" aria-hidden="true"></span> Link a new device
                </NavLink>
            </AuthorizeView>

            <AuthorizeView>
                <button type="button" class="btn btn-outline-danger btn-block" @onclick="ConfirmUnlink">
                    <span class="fas fa-unlink" aria-hidden="true"></span> Unlink this device
                </button>
            </AuthorizeView>
        </div>
    </div>
</div>