@page "/targets"

<div class="page text-dark">
    <button @onclick="AddTarget" class="btn btn-outline-primary float-right">Add</button>
    <h3>Actions</h3>

    <ul>
        @foreach (var target in DashboardActionTargets)
        {
            var link = $"targets/{target.DashboardActionTargetId}";
            <li>
                <NavLink class="nav-link" href="@link" Match="NavLinkMatch.All">
                    @target.Name (@target.DashboardActionTargetId)
                </NavLink>
            </li>
        }
    </ul>
</div>