@page "/targets/{DashboardActionTargetId}"
@attribute [Authorize(Policy = Policies.EditTargets)]
@inherits PageBase

<div class="page">
    @if (IsLoading)
    {
        <PageLoadingComponent />
    }
    else if (DashboardActionTarget == null)
    {
        <div class="page">
            <h3 class="alert alert-danger">This target does not seem to exist anymore.</h3>
        </div>
    }
    else
    {
        <h3>@DashboardActionTarget.Name</h3>

        <EditForm Model="DashboardActionTarget" OnValidSubmit="SaveChanges">
            <DataAnnotationsValidator />

            @if (!IsDataSignatureValid)
            {
                <div class="alert alert-danger">
                    <h3><span class="fas fa-exclamation-triangle"></span> Invalid data signature</h3>
                    The data signature for this target could not be verified which means the identity could have been modified outside of ShortDash.
                    This target's identity will need to be re-established to prevent unauthorized access.
                </div>
            }

            <div class="form-group">
                <label for="TargetName">Name</label>
                <InputText @bind-Value="DashboardActionTarget.Name" class="form-control" id="TargetName" />
                <ValidationMessage For="() => DashboardActionTarget.Name" />
            </div>
            <div class="form-group disabled">
                <label for="TargetID">ID</label>
                <input type="text" class="form-control" value="@DashboardActionTarget.DashboardActionTargetId" disabled />
            </div>
            <button type="button" class="btn btn-outline-danger float-left" @onclick="ConfirmUnlink">Unlink</button>

            <div class="float-right">
                <button type="button" class="btn btn-secondary" @onclick=CancelChanges>Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </EditForm>
    }
</div>