@inherits FormElementComponent

<div class="form-group">
    @RenderComponent(ModelProperty)
</div>

@code {
    protected override void OnInitialized()
    {
        InputFieldClasses = "form-control";
        DescriptionFieldClasses = "form-text text-muted";
        base.OnInitialized();
    }
}