@namespace ShortDash.Server.Components
@inherits DashboardGridButtonBase<ActionButtonParameters>
@inject ShortDash.Server.Data.ActionProcessorService ActionProcessorService

@if (string.IsNullOrWhiteSpace(Cell.DashboardAction.ActionClass))
{
    <div class="grid-icon">
        &nbsp;
    </div>
}
else
{
    <a href="" class=@($"{GetActiveStateClass()}") @onclick=Click @onclick:preventDefault>
        @ChildContent
    </a>
}

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool _toggleState = false;

    private void Click()
    {
        _toggleState = !Parameters.IsToggle || !_toggleState;

        ActionProcessorService.Execute(Cell.DashboardAction, _toggleState);
    }

    private string GetActiveStateClass()
    {

        return (Parameters.IsToggle && _toggleState) ? "active" : "";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Parameters.IsToggle)
        {
            // Do something for toggle-able buttons
        }
    }

}
