@namespace ShortDash.Server.Components
@inherits DashboardButtonBase

<button class="btn btn-primary" @onclick="Click" @attributes=ButtonAttributes>
    @Cell.Title
</button>

@code {
    protected override void Click()
    {
        Console.WriteLine($"Clicked button {Cell.Title}");
    }

}
