@namespace ShortDash.Server.Components
@inherits DashboardGridButtonBase<ActionButtonParameters>
@inject ShortDash.Server.Data.ActionProcessorService ActionProcessorService

<button class=@($"btn btn-primary {GetActiveStateClass()}") @onclick="Click" @attributes=ButtonAttributes>
    @Cell.Title
</button>

@code {

    private bool _toggleState = false;

    protected override void Click()
    {
        _toggleState = !Parameters.IsToggle || !_toggleState;

        ActionProcessorService.Execute(Cell.Title, Cell.Parameters, _toggleState);
    }

    private string GetActiveStateClass()
    {

        return (Parameters.IsToggle && _toggleState) ? "active" : "";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Parameters.IsToggle)
        {
            ButtonAttributes.Add("data-toggle", "button");
        }
    }

}
