@namespace ShortDash.Server.Components
@inherits DashboardGridButtonBase<ActionButtonParameters>
@inject ShortDash.Server.Data.ActionProcessorService ActionProcessorService

<a href="" class=@($"grid-icon {GetActiveStateClass()}") @onclick=Click @onclick:preventDefault @attributes=ButtonAttributes>
    @ChildContent
</a>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool _toggleState = false;

    private void Click()
    {
        _toggleState = !Parameters.IsToggle || !_toggleState;

        ActionProcessorService.Execute(Cell.Title, Cell.Parameters, _toggleState);
    }

    private string GetActiveStateClass()
    {

        return (Parameters.IsToggle && _toggleState) ? "active" : "";
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Parameters.IsToggle)
        {
            ButtonAttributes.Add("data-toggle", "button");
        }
    }

}
