<BaseDialog TResult="string" Result="Selected.Value" OkLabel="Add" OkClass="btn-primary">
    <div class="form-group">
        <EditForm Model="Selected">
            <label for="() => Selected.Value">Name</label>
            <InputText class="form-control" @bind-Value="Selected.Value" />
        </EditForm>
    </div>
</BaseDialog>