<BaseDialog TResult="int" Result="@ParseResult()" OkLabel="Add" OkClass="btn-primary">
    <div class="form-group">
        <EditForm Model="Selected">
            <InputSelect @bind-Value="Selected.Value" class="form-control" placeholder="Select an action...">
                @foreach (var action in AvailableActions)
                {
                    <option value="@action.DashboardActionId">@action.Label</option>
                }
            </InputSelect>
        </EditForm>
    </div>
</BaseDialog>