<CascadingValue Value="@this">
    @if (!IsInitialized)
    {
        <StaticModal>
            <h3>Establishing secure connection...</h3>
            <div class="spinner-grow"></div>
        </StaticModal>
    }
    else
    {
        @ChildContent
    }
</CascadingValue>