<div class="grid container px-lg-2">
    <div class="row text-center mx-lg-n2">
        @foreach (var cell in DashboardCells)
        {
            <div class="col py-3 px-lg-2 flex-grow-0">
                <DashboardGridCell Cell="cell" OnMoveCellLeft="MoveCellLeft" OnMoveCellRight="MoveCellRight" OnRemoveCell="RemoveCell" />
            </div>
        }
        @if (EditMode)
        {
            <div class="col py-3 px-lg-2 flex-grow-0">
                <a href="" @onclick="ShowAddDialog" @onclick:preventDefault>
                    <div class="add-cell grid-icon rounded">
                        <div class="grid-icon-content d-table-cell align-middle">
                            <span class="oi oi-plus"></span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>