@if (!IsExecutable(Cell.DashboardAction))
{
    <div class="grid-icon">
        <div class="grid-icon-content d-table-cell align-middle">
            &nbsp;
        </div>
    </div>
}
else
{
    <a href="" class=@($"{GetActiveStateClass()}") @onclick=Click @onclick:preventDefault>
        <div class="grid-icon rounded" @attributes=cellAttributes>
            <div class="grid-icon-content d-table-cell align-middle">
                @if (HasIcon())
                {
                    <span class="oi @Cell.DashboardAction.Icon"></span>
                }
                else if (HasImage())
                {
                    <img src="/assets/@Cell.DashboardAction.Icon" alt="@Cell.DashboardAction.Title" class="rounded" />
                }
                else
                {
                    @Cell.DashboardAction.Title
                }
            </div>
            @if (IsExecuting)
            {
                <div class="executing-indicator spinner-border text-warning" role="status"></div>
            }
        </div>
    </a>
}