@namespace ShortDash.Server.Components
@using Data

@if (Cell.CellType == GridCellType.Action)
{
    <ActionButton Cell="Cell">
        <DashboardGridButton Cell="Cell" />
    </ActionButton>
}
else if (Cell.CellType == GridCellType.DashLink)
{
    <DashboardLinkButton Cell="Cell">
        <DashboardGridButton Cell="Cell" />
    </DashboardLinkButton>
}
else
{
    <div class="grid-icon">
        &nbsp;
    </div>
}

@code {
    [Parameter]
    public GridCell Cell { get; set; }
}
