@namespace ShortDash.Server.Components
@inherits DashboardGridButtonBase<ActionButtonParameters>

<div class="grid-icon rounded" @attributes=CellAttributes>
    <div class="grid-icon-content d-table-cell align-middle">
        @if (HasIcon())
        {
            <img src="/assets/@Cell.Icon" alt="@Cell.Title" class="rounded"/>
        }
        else
        {
            @Cell.Title
        }
    </div>
</div>
<div class="grid-icon-caption">
    @Cell.Title
</div>

@code {

    protected Dictionary<string, object> CellAttributes;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        CellAttributes = new Dictionary<string, object>();
        if (!string.IsNullOrEmpty(Cell.BackgroundColor))
            CellAttributes.Add("style", "background-color: " + Cell.BackgroundColor);
    }

    private bool HasIcon()
    {
        return !string.IsNullOrWhiteSpace(Cell.Icon);
    }

}
