<a href="" @onclick="ExecuteAction" @onclick:preventDefault>
    <DashboardActionIcon DashboardAction="@DashboardAction" IsExecuting="IsExecuting" ToggleState="ToggleState" />
</a>
@if (ShouldShowCaption())
{
    <div class="grid-icon-caption">
        @DashboardAction.Label
    </div>
}