@namespace ShortDash.Server.Components
@using Data

@if (Cell.CellType == GridCellType.Action)
{
    <ActionButton Cell="Cell" />
}
else if (Cell.CellType == GridCellType.DashLink)
{
    <DashboardLinkButton Cell="Cell" />
}
else
{
    <div class="grid-icon"></div>
}

@code {
    [Parameter]
    public GridCell Cell { get; set; }
}
