@if (!IsExecutable(DashboardAction))
{
    <div class="grid-icon">
        <div class="grid-icon-content d-table-cell align-middle">
            &nbsp;
        </div>
    </div>
}
else
{
    <div class="grid-icon rounded text-center @GetActiveStateClass()" @attributes=cellAttributes>
        <div class="grid-icon-content d-table-cell align-middle">
            @if (HasIcon())
            {
                <span class="oi @DashboardAction.Icon"></span>
            }
            else if (HasImage())
            {
                <img src="/assets/@DashboardAction.Icon" alt="@DashboardAction.Title" class="rounded" />
            }
            else
            {
                <span>
                    @DashboardAction.Title
                </span>
            }
        </div>
        @if (IsExecuting)
        {
            <div class="executing-indicator spinner-border text-warning" role="status"></div>
        }
    </div>
}