@using Data

<div class="grid container">
    @foreach (var row in DashboardModel.Rows)
    {
    <div class="row justify-content-md-center">
        @foreach (var cell in row.Cells)
        {
        <div class="col">
            <DashboardGridCell Cell="cell" />
        </div>
        }
    </div>
    }
</div>

@code {
    [Parameter]
    public DashboardModel DashboardModel { get; set; }
}
