<div class="grid container px-lg-2">
    <div class="row text-center mx-lg-n2">
        @foreach (var cell in Dashboard.DashboardCells)
        {
        <div class="col py-3 px-lg-2 flex-grow-0">
            <DashboardGridCell Cell="cell" />
        </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Dashboard Dashboard { get; set; }
}
