@if (!IsExecutable(DashboardAction))
{
    <div class="grid-icon">
        <div class="grid-icon-content d-table-cell align-middle">
            &nbsp;
        </div>
    </div>
}
else
{
    <div class="grid-icon rounded text-center text-@TextClass" @attributes="CellAttributes">
        <div class="grid-icon-content d-table-cell align-middle">
            @if (HasIcon())
            {
                <span class="icon @Icon"></span>
            }
            else if (HasImage())
            {
                <img src="/assets/@Icon" alt="@Label" class="rounded" />
            }
            else
            {
                <span>
                    @Label
                </span>
            }
        </div>
        @if (IsExecuting)
        {
            <div class="executing-indicator spinner-border text-warning" role="status"></div>
        }
    </div>
}