<a href="" @onclick="ExecuteAction" @onclick:preventDefault>
    <DashboardActionIcon DashboardAction="DashboardAction" IsExecuting="IsExecuting" ToggleState="DashboardAction.ToggleState" />
</a>
@if (ShouldShowCaption())
{
    <div class="grid-icon-caption">
        @Label
    </div>
}