@typeparam TCellType
@inherits DashboardGridCellEditControlsComponent<TCellType>

<div class="edit-controls">
    <a href="" class="move-cell-left" @onclick="MoveCellLeft" @onclick:preventDefault>
        <span class="fas fa-arrow-alt-circle-left"></span>
    </a>
    <a href="" class="move-cell-right" @onclick="MoveCellRight" @onclick:preventDefault>
        <span class="fas fa-arrow-alt-circle-right"></span>
    </a>
    <a href="" class="remove-cell" @onclick="RemoveCell" @onclick:preventDefault>
        <span class="fas fa-times-circle"></span>
    </a>
</div>
