@namespace ShortDash.Server.Components
@inherits DashboardGridButtonBase<DashLinkButtonParameters>
@inject NavigationManager NavigationManagerService;

<a href="#" @onclick=Click @onclick:preventDefault @attributes=ButtonAttributes>
    @ChildContent
</a>

@code {
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void Click()
    {
        Console.WriteLine($"Clicked dash link button {Cell.Title} - ID {Parameters.DashboardId}");
        NavigationManagerService.NavigateTo($"/dashboard/{Parameters.DashboardId}");
    }

}
