@using Data

<div class="grid container px-lg-2">
    <div class="row align-items-center justify-content-center mx-lg-n2">
        @foreach (var cell in DashboardModel.Cells)
        {
        <div class="col py-3 px-lg-2">
            <DashboardGridCell Cell="cell" />
        </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public DashboardModel DashboardModel { get; set; }
}
