@namespace ShortDash.Server.Components
@inherits DashboardGridButtonBase<DashLinkButtonParameters>
@inject NavigationManager NavigationManagerService;

<button class="btn btn-primary" @onclick="Click" @attributes=ButtonAttributes>
    @Cell.Title
</button>

@code {
    protected override void Click()
    {
        Console.WriteLine($"Clicked dash link button {Cell.Title} - ID {Parameters.DashboardId}");
        NavigationManagerService.NavigateTo($"/dashboard/{Parameters.DashboardId}");
    }
}
