<div class="grid-cell">
    <a href="" @onclick="ExecuteAction" @onclick:preventDefault>
        <DashboardActionButton DashboardAction="@Cell.DashboardAction" IsExecuting="IsExecuting" ToggleState="ToggleState" />
    </a>
    @if (ShouldShowCaption())
    {
        <div class="grid-icon-caption">
            @Cell.DashboardAction.Label
        </div>
    }
    @if (EditMode)
    {
        <div class="edit-controls">
            <a href="" class="move-cell-left" @onclick="MoveCellLeft" @onclick:preventDefault>
                <span class="oi oi-arrow-circle-left"></span>
            </a>
            <a href="" class="move-cell-right" @onclick="MoveCellRight" @onclick:preventDefault>
                <span class="oi oi-arrow-circle-right"></span>
            </a>
            <a href="" class="remove-cell" @onclick="RemoveCell" @onclick:preventDefault>
                <span class="oi oi-circle-x"></span>
            </a>
        </div>
    }
</div>