@namespace ShortDash.Server.Components
@using Data
@using System.Text.Json;

@inject NavigationManager NavigationManagerService;

<button class="btn btn-primary" @onclick="Click" @attributes=ButtonAttributes>
    @Cell.Title
</button>

@code {

    private class DashLinkButtonParameters
    {
        public int DashboardId { get; set; } = 0;
    }

    [Parameter]
    public GridCell Cell { get; set; }

    private Dictionary<string, object> ButtonAttributes;
    private DashLinkButtonParameters Parameters;


    private void Click()
    {
        Console.WriteLine($"Clicked dash link button {Cell.Title} - ID {Parameters.DashboardId}");
        NavigationManagerService.NavigateTo($"/dashboard/{Parameters.DashboardId}");
    }

    protected override void OnInitialized()
    {
        Parameters = JsonSerializer.Deserialize<DashLinkButtonParameters>(Cell.Parameters);
        ButtonAttributes = new Dictionary<string, object>();
        if (!string.IsNullOrEmpty(Cell.BackgroundColor))
            ButtonAttributes.Add("style", "background-color: " + Cell.BackgroundColor);
    }
}
