<div class="container">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                Link this device
            </div>
            <div class="card-body text-center">
                <EditForm Model="Model" OnValidSubmit="StartLinking">
                    <DataAnnotationsValidator />

                    @if (ShowRetryMessage)
                    {
                        <div class="alert alert-warning">That device code did not seem to work.  Double check it and try again.</div>
                    }
                    <div class="form-group">
                        <SecureInputText type="text" class="form-control form-control-lg" placeholder="Enter Device Code" @bind-Value="@Model.DeviceLinkCode" />
                        <ValidationMessage For="() => Model.DeviceLinkCode" />
                    </div>

                    <button class="btn btn-secondary" type="button" @onclick="Cancel">Cancel</button>
                    <button class="btn btn-primary" type="submit" disabled="@Linking">
                        @if (Linking)
                        {
                            <span class="spinner-border spinner-border-sm"></span>
                        }
                        Link
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>