@typeparam TValue
@inherits FormGeneratorComponent<TValue>
<EditForm Model="@DataContext" OnValidSubmit="@(context => OnValidSubmit.InvokeAsync(context))">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <CascadingValue Name="DataContext" Value="@DataContext">
        @foreach (var property in Properties)
        {
            @RenderFormElement(property);
        }
    </CascadingValue>

    <button type="submit">Submit</button>
</EditForm>