@inherits FormGeneratorComponent
<EditForm EditContext="@EditContext" OnValidSubmit="@(context => OnValidSubmit.InvokeAsync(context))">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <CascadingValue Name="DataContext" Value="@EditContext.Model">
        @foreach (var property in Properties)
        {
            <div class="form-group">
                @RenderFormElement(property)
            </div>
        }
    </CascadingValue>
</EditForm>